@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicBook.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicMedium.ttf');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}