:root {
    --primary-text-color: #6C6D76; /*основной цвет текста*/
    --primary-title-color: #3F414E; /*основной цвет заголовков*/
    --primary-accent-color: #F3A395; /*основной цвет заголовков*/
    --secondary-accent-color: #4A7D7A; /*основной цвет заголовков*/
  }