<div class="header__services">
    <div class="header__services-column">
        <h3 class="header__services-title"><a href="#" class="header__services-link">ЭКО/ВРТ</a></h3>
        <ul class="header__services-list">
            <li class="header__services-item"><a href="#" class="header__services-link">ЭКО/ИКСИ стандарт</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">ЭКО в естественном цикле</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">ЭКО с минимальной стимуляцией</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Отсроченное материнство</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Криоперенос эмбрионона </a></li>
        </ul>
        <h3 class="header__services-title"><a href="#" class="header__services-link">ЭКО по ОМС</a></h3>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Онлайн консультация</a></h3>
    </div>
    <div class="header__services-column">
        <h3 class="header__services-title"><a href="#" class="header__services-link">Андрология</a></h3>
        <ul class="header__services-list">
            <li class="header__services-item"><a href="#" class="header__services-link">Консультация уролога-андролога</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Спермограмма</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">MESA/TESA</a></li>
        </ul>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Оперативная гинекология</a></h3>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Эстетическая гинекология</a></h3>
    </div>
    <div class="header__services-column">
        <h3 class="header__services-title"><a href="#" class="header__services-link">Центр лечения эндометриоза</a></h3>
        <ul class="header__services-list">
            <li class="header__services-item"><a href="#" class="header__services-link">Физеотерапевтическое лечение</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">PRP-терапия</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Ультразвуковая кавитация</a></li>
        </ul>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Лабораторная диагностика</a></h3>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Эндокринология</a></h3>
    </div>
    <div class="header__services-column">
        <h3 class="header__services-title"><a href="#" class="header__services-link">Терапия</a></h3>
        <ul class="header__services-list right-block">
            <li class="header__services-item"><a href="#" class="header__services-link">ЭКГ</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Терапевт</a></li>
        </ul>
        <h3 class="header__services-title"><a href="#" class="header__services-link">Генетика</a></h3>
        <ul class="header__services-list">
            <li class="header__services-item"><a href="#" class="header__services-link">Консультация генетика</a></li>
            <li class="header__services-item"><a href="#" class="header__services-link">Лабораторно – генетические исследования</a></li>
        </ul>
    </div>
</div>