<div id="mobile-menu" class="mobile-menu" hidden>
    <div class="mobile-menu__header">
        <button id="close-btn" type="button" class="header__menu-icon">
            <include src="icons/header/crossLogo.html">
        </button>
        <div class="header__embrylife-icon">
            <include src="icons/header/embrylifeLogo.html">
        </div>
        <div class="header__phone-icon">
            <include src="icons/header/phoneLogo.html">
        </div>
    </div>
    <ul id="mobile-menu-list" class="mobile-menu__list">
        <li class="mobile-menu__item">
            <button id="services-btn" class="mobile-menu__item-button" type="button">
                Услуги
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                О клинике
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Врачи</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Стоимость</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Акции</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Статьи</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Онлайн оплата</a></li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Пациентам
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Контакты</a></li>
    </ul>
    <ul id="services-list" class="mobile-menu__services-list" hidden>
        <li class="mobile-menu__item active">
            <button id="back-btn" class="mobile-menu__item-button" type="button">
                Услуги
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/leftWhiteLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                ЭКО/ВРТ
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">ЭКО по ОМС</a></li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Андрология
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Ведение беременности
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Оперативная гинекология</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Эстетическая гинекология</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Лабораторная диагностика</a></li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Центр лечения эндометриоза
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Терапия
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Эндокринология</a></li>
        <li class="mobile-menu__item">
            <button class="mobile-menu__item-button" type="button">
                Генетика
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
    </ul>
    <ul class="mobile-menu__vtr" hidden>
        <li class="mobile-menu__item active">
            <button class="mobile-menu__item-button" type="button">
                ЭКО/ВРТ
                <div class="mobile-menu__arrowRightLogo">
                    <include src="icons/header/arrowRightLogo.html">
                </div>
            </button>
        </li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">ЭКО/ИКСИ стандарт</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">ЭКО в естественном цикле</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">ЭКО с минимальной стимуляцией</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Отсроченное материнство</a></li>
        <li class="mobile-menu__item"><a href="#" class="mobile-menu__item-link">Криоперенос эмбрионона</a></li>
    </ul>
    <div class="mobile-menu__contacts-block">
        <h3 class="mobile-menu__address">СПб, Спасский пер., дом 14/35</h3>
        <h3 class="mobile-menu__phone">+7 (812) 603-91-75</h3>
        <p class="mobile-menu__description">Ежедневно с 09:00 до 21:00</p>
        <button type="button" class="mobile-menu__request-button button button--second">Запись на прием</button>
        <button type="button" class="mobile-menu__way-button button button--first">Как добраться</button>
        <div class="mobile-menu__embrylife-social-wrapper top">
            <div class="mobile-menu__embrylife-social">
                <a href="#" class="mobile-menu__social-link">
                    <include src="icons/header/tgLogo.html">
                </a>
                <a href="#" class="mobile-menu__social-link">
                    <include src="icons/header/vkLogo.html">
                </a> 
                <a href="#" class="mobile-menu__social-link">
                    <include src="icons/header/playLogo.html">
                </a>
            </div>
            <h4 class="mobile-menu__description-embrylife">Об ЭКО в Embrylife</h4>
            <h5 class="mobile-menu__join">Вступить в сообщество</h5>
        </div>
        <div class="mobile-menu__embrylife-social-wrapper">
            <div class="mobile-menu__embrylife-social">
                <a href="#" class="mobile-menu__social-link">
                    <include src="icons/header/tgLogo.html">
                </a>
                <a href="#" class="mobile-menu__social-link">
                    <include src="icons/header/vkLogo.html">
                </a> 
            </div>
            <h4 class="mobile-menu__description-embrylife">Центр женского здоровья</h4>
            <h5 class="mobile-menu__join">Вступить в сообщество</h5>
        </div>
    </div>
</div>