<main class="main">
    <div class="glide main__hero">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides main__hero-list">
                <li class="glide__slide main__hero-item">
                    <h2 class="main__hero-title">Магия родительства</h2>
                    <p class="main__hero-description">
                        В центре Embrylife самая высокая эффективность 
                        ЭКО среди всех клиник по Санкт‐Петербургу и Лен. области — 52,90%
                    </p>
                    <button 
                        id="more-btn" 
                        type="button" 
                        class="main__hero-button button button--third">
                        Подробнее
                    </button>
                    <div class="main__hero-icon">
                        <include src="icons/main/heroLogo.html">
                    </div>
                </li>
                <li class="glide__slide main__hero-item">
                    <h2 class="main__hero-title">Магия родительства</h2>
                    <p class="main__hero-description">
                        В центре Embrylife самая высокая эффективность 
                        ЭКО среди всех клиник по Санкт‐Петербургу и Лен. области — 52,90%
                    </p>
                    <button 
                        id="more-btn" 
                        type="button" 
                        class="main__hero-button button button--third">
                        Подробнее
                    </button>
                    <div class="main__hero-icon">
                        <include src="icons/main/heroLogo.html">
                    </div>
                </li>
                <li class="glide__slide main__hero-item">
                    <h2 class="main__hero-title">Магия родительства</h2>
                    <p class="main__hero-description">
                        В центре Embrylife самая высокая эффективность 
                        ЭКО среди всех клиник по Санкт‐Петербургу и Лен. области — 52,90%
                    </p>
                    <button 
                        id="more-btn" 
                        type="button" 
                        class="main__hero-button button button--third">
                        Подробнее
                    </button>
                    <div class="main__hero-icon">
                        <include src="icons/main/heroLogo.html">
                    </div>
                </li>
            </ul>
            <div data-glide-el="controls" class="main__hero-controls">
                <button type="button" class="glide__arrow main__hero-controls-arrow left" data-glide-dir="<">
                    <div class="main__controls-arrow-left-wrapper">
                        <include src="icons/main/arrowLogo.html"/>
                    </div>
                </button>
                <div class="glide__bullets main__controls-dots" data-glide-el="controls[nav]">
                    <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=0"></button>
                    <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=1"></button>
                    <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=2"></button>
                </div>
                <button type="button" class="glide__arrow main__hero-controls-arrow right" data-glide-dir=">">
                    <div class="main__controls-arrow-left-wrapper">
                        <include src="icons/main/arrowLogo.html"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main__services">
            <ul class="main__services-list">
                <li class="main__services-item">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service.html"/>
                        </div>
                        <h3 class="main__services-title">ЭКО/ВРТ</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service1.html"/>
                        </div>
                        <h3 class="main__services-title">ЭКО по ОМС</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service2.html"/>
                        </div>
                        <h3 class="main__services-title">Андрология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service3.html"/>
                        </div>
                        <h3 class="main__services-title">Ведение беременности</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service4.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service5.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service6.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service7.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service8.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service9.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link">
                        <div class="main__services-icon">
                            <include src="icons/main/service10.html"/>
                        </div>
                        <h3 class="main__services-title">Оперативная гинекология</h3>
                        <div class="main__services-arrow-icon">
                            <include src="icons/header/arrowRightLogo.html"/>
                        </div>
                    </a>
                </li>
                <li class="main__services-item desktop">
                    <a href="#" class="main__services-link price">
                        Все цены
                    </a>
                </li>
            </ul>
            <div class="main__services-buttons">
                <button type="button" class="main__services-button button button--second">Все услуги</button>
                <button type="button" class="main__services-button button button--first">Все цены</button>
            </div>
        </div>
        <div class="main__request">
            <h3 class="main__request-title">Записаться к врачу</h3>
            <p class="main__request-description">
                В отличие от других клиник, где 
                зачастую работают один‐два ключевых врача, 
                а остальные специалисты находятся в их тени, 
                в нашей клинике профессионал каждый специалист.
            </p>
            <div class="glide main__request-gallery">
                <div class="glide__track" data-glide-el="track">
                    <ul class="main__request-gallery-list">
                        <li class="glide__slide main__request-gallery-item">
                            <div class="main__image-wrapper">
                                <img src="images/main/employee.png" alt="employee">
                            </div>
                            <h3 class="main__employee-name">Феоктистов Андрей Александрович</h3>
                            <p class="main__employee-description">Медицинский директор, врач — акушер-гинеколог, репродуктолог</p>
                            <button type="button" class="main__gallery-button button button--third">Прием от 5 000 руб.</button>
                            <button type="button" class="main__gallery-button button button--first">Записаться на прием</button>
                        </li>
                        <li class="glide__slide main__request-gallery-item">
                            <div class="main__image-wrapper">
                                <img src="images/main/employee1.png" alt="employee">
                            </div>
                            <h3 class="main__employee-name">Корнеева Светлана Константиновна</h3>
                            <p class="main__employee-description">И.О. главного врача</p>
                            <button type="button" class="main__gallery-button button button--third">Прием от 5 000 руб.</button>
                            <button type="button" class="main__gallery-button button button--first">Записаться на прием</button>
                        </li>
                        <li class="glide__slide main__request-gallery-item">
                            <div class="main__image-wrapper">
                                <img src="images/main/employee2.png" alt="employee">
                            </div>
                            <h3 class="main__employee-name">Жарова Мария Валерьевна</h3>
                            <p class="main__employee-description">Зав. отделением ВРТ, врач — акушер-гинеколог, репродуктолог</p>
                            <button type="button" class="main__gallery-button button button--third">Прием от 3 000 руб.</button>
                            <button type="button" class="main__gallery-button button button--first">Записаться на прием</button>
                        </li>
                        <li class="glide__slide main__request-gallery-item">
                            <div class="main__image-wrapper">
                                <img src="images/main/employee3.png" alt="employee">
                            </div>
                            <h3 class="main__employee-name">Ладяева Инна Владимировна</h3>
                            <p class="main__employee-description">Врач — акушер-гинеколог, репродуктолог</p>
                            <button type="button" class="main__gallery-button button button--third">Прием от 2 000 руб.</button>
                            <button type="button" class="main__gallery-button button button--first">Записаться на прием</button>
                        </li>
                    </ul>
                    <div data-glide-el="controls" class="main__hero-controls">
                        <button type="button" class="glide__arrow main__hero-controls-arrow left" data-glide-dir="<">
                            <div class="main__controls-arrow-left-wrapper">
                                <include src="icons/main/arrowLogo.html"/>
                            </div>
                        </button>
                        <button type="button" class="glide__arrow main__hero-controls-arrow right" data-glide-dir=">">
                            <div class="main__controls-arrow-left-wrapper">
                                <include src="icons/main/arrowLogo.html"/>
                            </div>
                        </button>
                        <div class="glide__bullets main__controls-dots" data-glide-el="controls[nav]">
                            <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=0"></button>
                            <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=1"></button>
                            <button class="glide__bullet main__hero-controls-dot" data-glide-dir="=2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__request-gallery-buttons mobile">
                <button type="button" class="main__request-gallery-button button">Все врачи</button>
                <button type="button" class="main__request-gallery-button button">Направления</button>
            </div>
        </div>
        <div class="main__about">
            <h3 class="main__about-title">О клинике Embrylife</h3>
            <p class="main__about-description">
                В клинике Embrylife мечта двух любящих людей о самом простом чуде — 
                ребенке становится реальностью при разных формах бесплодия
            </p>
            <ul class="main__about-list">
                <li class="main__about-list">
                    <div class="main__about-value">300</div>
                    <p class="main__about-value-description">Эмбрионов и яйцеклеток хранятся в нашем криобанке</p>
                </li>
                <li class="main__about-list">
                    <div class="main__about-value">4000</div>
                    <p class="main__about-value-description">Пациентов приходят к нам в клинику ежегодно</p>
                </li>
                <li class="main__about-list">
                    <div class="main__about-value">11</div>
                    <p class="main__about-value-description">Лет помогаем зачать здоровую беременность</p>
                </li>
                <li class="main__about-list">
                    <div class="main__about-value">52,9%</div>
                    <p class="main__about-value-description">Эффективность ЭКО по итогам 2019</p>
                </li>
            </ul>
            <button class="main__about-button button button--first">Подробнее</button>
        </div>
    </div>
</main>