<footer class="footer">
    <nav class="footer__navigation">
        <ul class="footer__navigation-list">
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    ЭКО/ВРТ
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">ЭКО по ОМС</a></li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Андрология
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Ведение беременности
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Оперативная гинекология</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Эстетическая гинекология</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Лабораторная диагностика</a></li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Центр лечения эндометриоза
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Терапия
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Эндокринология</a></li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Генетика
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    О клинике
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Врачи</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Стоимость</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Акции</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Статьи</a></li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Онлайн оплата</a></li>
            <li class="footer__navigation-item">
                <button class="footer__navigation-item-button" type="button">
                    Пациентам
                    <div class="mobile-menu__arrowRightLogo">
                        <include src="icons/header/arrowRightLogo.html">
                    </div>
                </button>
            </li>
            <li class="footer__navigation-item"><a href="#" class="footer__navigation-item-link">Контакты</a></li>
        </ul>
    </nav>
    <include src="components/content/contacts.html"></include>
    <div class="footer__search-block">
        <div class="footer__search-input-wrapper">
            <input class="footer__search-input" placeholder="Поиск по сайту">
        </div>
        <div class="footer__coat-of-arms">
            <div class="footer__coat-of-arms-logo">
                <img src="images/footer/coat-of-arms.png" alt="coat-of-arms">
                <!-- <include scr="icons/footer/coat-of-arms.html"> -->
            </div>
            <p class="footer__coat-of-arms-description">
                Независимая оценка качества оказания услуг медицинскими организациями
            </p>
        </div>
    </div>
    <div class="footer__review-button-wrapper">
        <button type="button" class="button button--third" id="review-button">Оценить качество клиники</button>
    </div>
    <ul class="footer__links-block">
        <li class="footer__links-item desktop"><a href="#" class="footer__link">Группа компаний Grandmed</a></li>
        <li class="footer__links-item desktop"><a href="#" class="footer__link">Нормативные документы</a></li>
        <li class="footer__links-item"><a href="#" class="footer__link">Политика конфидециальности</a></li>
        <li class="footer__links-item desktop"><a href="#" class="footer__link">Пользовательское соглашение</a></li>
        <li class="footer__links-item"><a href="#" class="footer__link">Лицензии и реквизиты</a></li>
        <li class="footer__links-item desktop"><a href="#" class="footer__link">Карта сайта</a></li>
    </ul>
</footer>