<header class="header">
    <div class="header__wrapper">
        <div class="header__mobile">
            <button type="button" id="menu-btn" class="header__menu-icon">
                <include src="icons/header/menuLogo.html">
            </button>
            <div class="header__embrylife-icon">
                <include src="icons/header/embrylifeLogo.html">
            </div>
            <div class="header__phone-icon">
                <include src="icons/header/phoneLogo.html">
            </div>
        </div>
        <div class="header__desktop">
            <div class="header__desktop-top-block">
                <div class="header__embrylife-icon">
                    <include src="icons/header/embrylifeLogo.html">
                </div>
                <div class="header__location">
                    <div class="header__location-icon">
                        <include src="icons/header/locationLogo.html">
                    </div>
                    <h4 class="header__location-text">СПб, Спасский пер., дом 14/35</h4>
                </div>
                <h4 class="header__working-hours">Ежедневно с 09:00 до 21:00</h4>
                <div class="header__contacts">
                    <a href="https://wa.me/78126039175" class="header__whatsApp-icon">
                        <include src="icons/header/whatsAppLogo.html">
                    </a>
                    <a href="tel:+78126039175" class="header__phone-icon">
                        <include src="icons/header/phoneLogo.html">
                    </a>
                    <h4 class="header__phone">+7 (812) 603-91-75</h4>
                </div>
                <div class="header__search-icon">
                    <include src="icons/header/searchLogo.html">
                </div>
                <div class="header__language">
                    <button type="button" class="header__language-item">
                        RU
                    </button>
                    <button type="button" class="header__language-item">
                        EN
                    </button>
                </div>
            </div>
            <nav class="header__desktop-nav-block">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <button name="services" id="open-desktop-menu-btn" type="button" class="header__nav-arrowDown-btn">
                            Услуги
                            <div id="arrow-down" class="header__nav-arrowDown-icon">
                                <include src="icons/header/arrowDownLogo.html">
                            </div>
                        </button>
                    </li>
                    <li class="header__nav-item">
                        <button name="about" id="open-desktop-menu-btn" type="button" class="header__nav-arrowDown-btn">
                            О клинике
                            <div id="arrow-down" class="header__nav-arrowDown-icon">
                                <include src="icons/header/arrowDownLogo.html">
                            </div>
                        </button>
                    </li>
                    <li class="header__nav-item"><a href="#" class="header__nav-item-link">Врачи</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-item-link">Стоимость</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-item-link">Статьи</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-item-link">Онлайн оплата</a></li>
                    <li class="header__nav-item">
                        <button name="patients" id="open-desktop-menu-btn" type="button" class="header__nav-arrowDown-btn">
                            Пациентам
                            <div id="arrow-down" class="header__nav-arrowDown-icon">
                                <include src="icons/header/arrowDownLogo.html">
                            </div>
                        </button>
                    </li>
                    <li class="header__nav-item"><a href="#" class="header__nav-item-link">Контакты</a></li>
                </ul>
                <button id="request-button" type="button" class="header__request-button button button--second">
                    Запись на прием
                </button>
            </nav>
        </div>
    </div>
</header>