.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    padding: 15px 10px 42px;
    z-index: 5;
    background-color: #fff;
    overflow-y: scroll;

    &__header {
        @include fc(space-between);
        margin-bottom: 15px;
    }
    &__item {
        padding: 14px 17px 17px 3px;
        font-size: 18px;
        line-height: 1.44;
        color: #76767E;
        border-bottom: 1px solid #EDEDED;
        
        &:first-child {
            border-top: 1px solid #EDEDED;
        }
        &.active {
            position: relative;
            left: -5px;
            width: 310px;
            padding: 14px 23px 17px 9px;
            color: #fff;
            border: none;
            border-radius: 10px;
            background-color: var(--primary-accent-color);
            & .mobile-menu__item-button {
                color: #fff;
            }
            & .arrowRightLogo {
                stroke {
                    fill: #fff
                }
            }

        }
    }
    &__item-button {
        @include fc(space-between);

    }
    &__arrowRightLogo {
        @include fc(center);
        width: 12px;
        height: 12px;
    }
    &__item-link {
        color: #76767E;
    }
}