.footer {
    padding: 0 10px 38px;
    background-color: #fff;
    &__navigation {

    }
    &__navigation-list {
        padding-top: 14px;
    }
    &__navigation-item {
        padding: 0 17.5px 17px 3px;
        color: #76767E;
        border-bottom: 1px solid #EDEDED;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        // &:first-child {
        //     border-top: 1px solid #EDEDED;
        // }
    }
    .active {
    }
    &__navigation-item-button {
        @include fc(space-between);
        font-weight: 450;
        color: #76767E;
    }
    .mobile-menu__arrowRightLogo {
    }
    &__navigation-item-link {
        color: #76767E;
    }
    &__search-block {
        margin-top: 28px;
        margin-bottom: 65px;
    }
    &__search-input-wrapper {
        position: relative;
        margin-bottom: 20px;
        &::after {
            content: '';
            position: absolute;
            right: 14px;
            top: 16px;
            width: 18px;
            height: 18px;
            background-image: url(../icons/footer/searchLogo.svg);
        }
    }
    &__search-input {
        width: 100%;
        height: 50px;
        padding-left: 11px;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        &::placeholder {
            color: #9D9D9D;
        }
    }
    &__coat-of-arms {
    }
    &__coat-of-arms-logo {
        margin: 0 auto;
        width: 30px;
        height: 34px;
    }
    &__coat-of-arms-description {
        display: none;
    }
    &__review-button-wrapper {
        margin-bottom: 26px;
    }
    &__review-button {
    }
    &__links-block {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    &__links-item {
        text-align: center;

        &.desktop {
            display: none;
        }
        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }
    .desktop {
    }
    &__link {
        font-family: 'Montserrat', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #6C6D76;
    }
}